extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        //- Dynamically add project name and description below from data using locals in the view file
        h1=`${prod.project_name}`
          
        p.lead.text-light
          | #{prod.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          //- Loop through list of technoligies by using 'each'
          each technology in prod.technologies
            li=`${technology}`


        a.button.expanded(href=`${prod.live_link}` target="_blank") Live Demo
        a.button.expanded(href=`${prod.github_link}` target="_blank") GitHub Repo

    //- Using 'each' to iterate through images. Also using interpolation and template literals to dynaimcally add the images to the page
    each img, index in prod.image_urls
      if !index == 0
        img.image(src=`/static/images/${img}`)